* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #4a0072, #6a11cb);
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

h1 {
    color: white;

    text-align: center;
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    padding: 5%;
}

/*Contenedor Principal*/
.contenedor-tareas {
    background-color: white;
    width: 90%;
    margin: auto;
    border-radius: 15px;
    padding: 3%;

    min-width: 250px;
}

/*Tabla*/
table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    text-align: center;
}

.tabla-tareas {
    background: lightgray;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 15px;
}

td {
    padding: 3%;
}

.tabla-tareas button {
    background: rgb(66,0,66);
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
}

.tabla-tareas td {
    size: 100%;
    word-wrap: break-word;
}

.tabla-tareas row:nth-child(odd){
    background-color: white;
}

tbody tr:nth-child(odd){
    background-color: white;
}

tbody tr:nth-child(even){
    background-color: lightgray;

}

/*Botones*/
.contenedor-botones {
    display: flex;
    flex-direction: column;
    padding: 1%;
    gap: 5px;
}

#agregarButton {
    background: rgb(66,0,66);
    color: white;

    border: none;
    padding: 3%;
    border-radius: 10px;
}

#agregarButton:hover {
    background: #4b00b8;
}

input {
    min-height: 30px;
}

/*Media query para tableta*/
@media (min-width: 768px) and (min-height: 1024px){
    * {
        font-size: 24px;
    }

    .contenedor-botones {
        padding: 1%;
    }

    input {
        min-height: 45px;
    }
}

/*Media query para desktop*/
@media (min-width: 1024px) {

    table {
        font-size: large;
    }

    .contenedor-botones {
        padding: 1%;
    }

    input {
        min-height: 60px;
        font-size: larger;
    }

    button {
        font-size: larger;
    }
}